*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
  color: #000;
}
/*sign up form style */
.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.signup-content h1,p{
  text-align: center;
}
.form-container{
  display: flex;
  flex-direction: column;
}